.App {
    text-align: center;
    width: 500px;
    margin: 50px auto;
    font-size: 20px;
}

.btn {
    background: transparent;
    border: 2px solid orange;
    border-radius: 4px;
    color: orange;
    outline: none;
    font-size: 16px;
    margin-left: 20px;
}

input {
    border: 0;
    border-bottom: 2px solid orange;
    font-size: 16px;
    outline: none;
}
