.todo {
    opacity: 0;
    transform: translateX(150px);

    &.loaded {
        opacity: 1;
        transform: translateX(0);
        transition: all 1s .1s ease-in;
    }
}

ol {
    padding: 0;
    margin: 0 0 10px;
    list-style-type: none;
}
